*.db
*.pt
*.zip
*.bin
*.png

**/__pycache__/
**/checkpoint-*/

Pretraining/all_data.txt
Pretraining/multiwoz_data.txt
Pretraining/multiwoz_seq_data.txt

Pretraining/google_unigrams
Pretraining/google_bigrams

MinTL/log
MinTL/experiments_DST
MinTL/damd_multiwoz/data
.DS_Store
